# Salin ke .env lalu sesuaikan
PORT=3001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=spklu_db
JWT_SECRET=ganti-dengan-string-acak-panjang
JWT_EXPIRES=7d
# CORS origin frontend (dev)
CORS_ORIGIN=http://localhost:5173
